{
    acme_ca https://acme-v02.api.letsencrypt.org/directory
    auto_https disable_redirects

    metrics /metrics

    servers {
		trace
	}
}

http://node-${node_id}.${domain} {
    # Health check endpoint
    handle /api/health {
        respond "OK" 200
    }

    @ws {
        header Connection *Upgrade*
        header Upgrade websocket
    }

    # Handle HTTP traffic
    handle {
        tracing {
			span grafana_http_handler
		}

        reverse_proxy grafana-${node_id}:3000 {
            header_up Host {http.request.host}
            header_up Origin {http.request.scheme}://{http.request.host}
            header_up X-Real-IP {http.request.remote}
        }
    }

    log {
        output stdout
        format json
        level INFO
    }
}

(grafana_proxy) {
    @ws {
        header Connection *Upgrade*
        header Upgrade websocket
    }

    handle @ws {
        tracing {
			span grafana_ws_tls_handler
		}

        reverse_proxy grafana-${node_id}:3000 {
            header_up Host {http.request.host}
            header_up Origin {http.request.scheme}://{http.request.host}
            header_up X-Real-IP {http.request.remote}
            header_up Connection *Upgrade*
            header_up Upgrade websocket
        }

        log_append grafana_headers_ws {http.request.headers}
    }


    handle {
        tracing {
			span grafana_http_tls_handler
		}

        reverse_proxy grafana-${node_id}:3000 {
            # Grafana requires us to pass the Host header for CSRF protection
            header_up Host {http.request.host}
            header_up Origin {http.request.scheme}://{http.request.host}
            header_up X-Real-IP {http.request.remote}

            header_down X-Used-Host node-${node_id}.${domain}

            header_down -Referer
        }

        log_append grafana_headers_http {http.request.headers}
    }

    log {
        output stdout
        format json
        level DEBUG
    }
}

# Allow direct (TLS) access to the Grafana API
node-${node_id}.${domain} {
    tls {
        issuer acme
    }

    # Handle HTTPS traffic
    import grafana_proxy
}

# Allow the Load Balancer to access the Grafana API without having to use a certificate
${domain} {
    import grafana_proxy
}

# OpenTelemetry HTTP endpoint
node-${node_id}.${domain}:4318 {
    tls {
        issuer acme
    }

    reverse_proxy otel-${node_id}:4318 {
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote}
    }

    log {
        output stdout
        format json
        level INFO
    }
}

# OpenTelemetry gRPC endpoint
node-${node_id}.${domain}:4317 {
    tls {
        issuer acme
    }

    reverse_proxy otel-${node_id}:4317 {
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote}
    }

    log {
        output stdout
        format json
        level INFO
    }
}
